@import "tailwindcss";

/* THEME CONFIGURATION */
@theme {
  /* COLORS: High Contrast Industrial */
  --color-signal: #facc15; /* Kuning (Action) */
  --color-signal-hover: #eab308;

  --color-canvas: #0a0a0a; /* Vantablack (Background Utama) */
  --color-metal: #171717; /* Dark Metal (Card/Surface) */
  --color-border: #262626; /* Garis Halus */

  --color-type-head: #ffffff; /* Judul */
  --color-type-body: #a3a3a3; /* Paragraf */

  /* FONTS: Condensed & Geometric */
  --font-display: "Oswald", "Barlow Condensed", sans-serif;
  --font-body: "Inter", sans-serif;
}

/* BASE STYLES */
body {
  background-color: var(--color-canvas);
  color: var(--color-type-body);
  font-family: var(--font-body);
  overflow-x: hidden; /* Wajib buat ScrollSmoother */
}

/* TYPOGRAPHY UTILS */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-display);
  color: var(--color-type-head);
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: -0.02em;
}

/* CUSTOM UTILITIES */
.text-signal {
  color: var(--color-signal);
}

.bg-metal {
  background-color: var(--color-metal);
}

/* Menghilangkan scrollbar default biar Smoother yang handle */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
